<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <% include blocks/head.ejs %>
  <body>
    <% include blocks/header.ejs %>
    <h1>Форма успешно отпралена!</h1>
    <p>
      <b>E-mail: <%= data.email %></b><br>
      <b>Password: <%= data.pass %></b><br>
      <b>checkStatus: <%= data.check %></b><br>
    </p>
  </body>
</html>
