body {
  background-color: #363b4a !important;
  color: #e0d8d8 !important;
  padding: 10px 50px;
}

h1 {
  color: #b9b1b1;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}

p {
  padding: 10px;
}

ul.top-menu {
  display: flex;
}

ul.top-menu li {
  display: inline-block;
  float: left;
  padding: 10px 30px;
}

ul.top-menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
}
